body, html{
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
body{
  overflow-x: hidden;
}
h1{
  margin-bottom: 0;
}
#wrapper {
  height: 100vh;
}

#wrapper section{
  overflow: hidden
}

#logo{
  padding: 20px;
}

#sec1{
  align-items: center;
  justify-content: center;
  height: 100vh;
  display: flex;
  width: 100vw;
}
#introvid {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: -100;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#sec2{
  background-color: #EDF1F4;
  flex-direction: column;
  height: 100vh;
  display: flex;
  width: 100vw;
}
#firstmock{
  background-image: url(media/concmock.png);
}
.left{
  height: 50vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
.right{
  height: 50vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.text{
  margin: 50px;
  align-self: center;
  justify-self: center;
}
.grayt{
  color: #2d2d2d;
}

#sec3{
  background-color: #2d2d2d;
  flex-direction: column;
  height: 100vh;
  display: flex;
  width: 100vw;
}
.whitet{
  color: #edf1f4;
}
#watchwrap{
  display: grid;
  height: 100%;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr;
}
.watchlist{
  height: 90%;
  width: 100%;
  align-self: center;
  justify-self: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
#w1{
  background-image: url(media/w1.png);
  grid-row: 1;
}
#w2{
  background-image: url(media/w2.png);
  grid-row: 2;
}
#w3{
  background-image: url(media/w3.png);
  grid-row: 3;
}

#sec4{
  background-color: #EDF1F4;
  flex-direction: column;
  height: 100vh;
  display: flex;
  width: 100vw;
}
#thirdmock{
  background-image: url(media/profile.png);
}

#sec5{
  background-color: #343536;
  flex-direction: column;
  height: 100vh;
  display: flex;
  width: 100vw;
}
#secondmock{
  background-image: url(media/searchmock.png);
}

#sec6{
  background-color: #EDF1F4;
  flex-direction: column;
  height: 100vh;
  display: flex;
  width: 100vw;
}
.text2{
  margin: 50px;
  align-self: center;
  justify-self: center;
  display: flex;
  flex-direction: column;
}
#crowd{
  background-image: url(media/crowdmobile.png);
}
.dl{
  justify-self: center;
  align-self: center;
  text-align: center;
  margin-bottom: 10px;
}

#sec7{
  background-color: #2d2d2d;
  flex-direction: column;
  height: 50px;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
#copyright{
  align-self: center;
  justify-self: center;
}


@media only screen and (min-width: 600px) {

h1{
  font-size: 3em;
  line-height: 1.1;
}
p{
  font-size: 1.3em;
}

.left{
  height: 100%;
  width: 50%;
}
.right{
  height: 100%;
  width: 50%;
}
.text{
  width: 50%;
}
.text2{
  width: 50%;
}
#sec3{
  flex-direction: row-reverse;
}
#watchwrap{
  width: 50%;
  height: 80%;
  align-self: center;
}

#sec2{
  flex-direction: row;
}

#sec4{
  flex-direction: column;
  justify-content: center;
}

.midt{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}
.texty{
  grid-column: 2;
  grid-row: 1;
  margin: 0;
  width: 100%;
}
.rightmid{
  width: 100%;
  background-size: contain;
}

#sec5{
  flex-direction: row;
}

#sec6{
  flex-direction: row-reverse;
}

#crowd{
  background-image: url(media/crowd2.png);
  background-size: cover;
}
footer{
  padding-bottom: 15px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
}
